.SearchWeatherContainer {
    width: 70%;
}

.SearchWeather {
    font-size: 3rem;
}

.SearchWeather input {
    margin: 20px;
    font-size: 2.4rem;
    width: 200px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    text-transform: capitalize;
}


